/* Hiding irrelevant elements */
#input-panel,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-header-renderer,
#live-chat-banners,
yt-live-chat-banner-manager,
yt-live-chat-banner-renderer,
#separator,
#fab-container,
.yt-reaction-control-panel-button-view-model,
#toast-container,
#ticker {
    display: none !important;
}

#menu,
yt-live-chat-action-panel-renderer,
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer,
#action-panel {
    display: none !important;
}

html,
body,
yt-live-chat-renderer,
#item-scroller {
    background-color: transparent !important;
    scrollbar-width: none !important;
}

#item-scroller::-webkit-scrollbar {
    display: none !important;
}

/* Adjustable configuration variables */
:root {
    --chat-font: "Subscribe";
    --chat-font-size: 2.2rem;
    --chat-photo-size: 2.2rem;
    --chat-author-badge-size: 2rem;
    --chat-author-rotation: -1.2deg;
    --chat-author-height: 3.6rem;
    --chat-author-width: 20rem;
    --chat-border-width: 3px;
    --chat-border-radius: 1rem;
    --chat-author-viewer-background-color: #d1f5aa;
    --chat-author-member-background-color: #d1f5aa;
    --chat-author-moderator-background-color: lightblue;
    --chat-author-owner-background-color: #ffd600;
}

/* Disable default reveal animation */
yt-live-chat-item-list-renderer #items {
    transform: translateY(0) !important;
}

/* Animation for message appearing */
@keyframes message-slide-up {
    from {
        transform: translateY(5rem);
        filter: brightness(0.5);
    }
    to {
        transform: translateY(0rem);
        filter: brightness(1);
    }
}

/* Message container */
yt-live-chat-text-message-renderer {
    display: block !important;
    padding: var(--chat-border-width) 0 !important;
    animation: 1s message-slide-up !important;
}

@keyframes author-slide-up {
    from {
        transform: rotate(-4deg) translate(1.5rem, 1.2rem);
    }
    to {
        transform: rotate(var(--chat-author-rotation)) translate(1.5rem, 1.2rem);
    }
}

/* Message author container */
yt-live-chat-text-message-renderer yt-live-chat-author-chip {
    font-family: var(--chat-font) !important;
    font-size: var(--chat-font-size) !important;
    transform-origin: center left !important;
    -webkit-text-stroke: 1px #406345 !important;
    height: var(--chat-author-height) !important;
    padding-left: calc(var(--chat-photo-size) + 1.5rem) !important;
    padding-right: 0.5rem !important;
    position: relative !important;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    animation: 1s author-slide-up forwards;
}

/* Message author 3d effect */
yt-live-chat-text-message-renderer yt-live-chat-author-chip::before {
    content: "" !important;
    position: absolute;
    inset: 0 !important;
    /* Offset from parent */
    left: -0.5rem !important;
    top: 0.5rem !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #d1f5aa !important;
    border: var(--chat-border-width) solid #85c6a2 !important;
    border-radius: var(--chat-border-radius) !important;
    box-sizing: border-box;
    z-index: -2;
}

/* Message author backround */
yt-live-chat-text-message-renderer yt-live-chat-author-chip::after {
    content: "" !important;
    position: absolute !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--chat-author-viewer-background-color) !important;
    border: var(--chat-border-width) solid #85c6a2 !important;
    border-radius: var(--chat-border-radius) !important;
    box-sizing: border-box !important;
    z-index: -1 !important;
}

/* Position and animate author photo */
yt-live-chat-text-message-renderer > yt-img-shadow#author-photo {
    position: absolute !important;
    left: 1rem !important;
    height: var(--chat-author-height) !important;
    display: inline-flex !important;
    align-items: center !important;
    z-index: 1 !important;
    animation: 1s author-slide-up forwards !important;
}

/* Author photo appearance */
yt-live-chat-text-message-renderer > yt-img-shadow#author-photo > img {
    width: var(--chat-photo-size) !important;
    height: var(--chat-photo-size) !important;
    border-radius: 100% !important;
}

/* Align chat badges */
yt-live-chat-text-message-renderer yt-live-chat-author-chip > #chat-badges {
    margin: 0 0.5rem !important;
    display: flex !important;
    align-items: center !important;
}

/* Author text appearance */
yt-live-chat-text-message-renderer yt-live-chat-author-chip span#author-name {
    color: #e0f2db !important;
    max-width: var(--chat-author-width) !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

/* Author background colors based on type */
yt-live-chat-text-message-renderer[author-type="member"]
    yt-live-chat-author-chip::after {
    background-color: var(--chat-author-member-background-color) !important;
}
yt-live-chat-text-message-renderer[author-type="moderator"]
    yt-live-chat-author-chip::after {
    background-color: var(--chat-author-moderator-background-color) !important;
}
yt-live-chat-text-message-renderer[author-type="owner"]
    yt-live-chat-author-chip::after {
    background-color: var(--chat-author-owner-background-color) !important;
}

/* Author badge appearance */
yt-live-chat-author-badge-renderer img {
    width: var(--chat-author-badge-size) !important;
    height: var(--chat-author-badge-size) !important;
}

/* Hide moderator badges */
yt-live-chat-author-badge-renderer[type="moderator"] {
    display: none !important;
}

/* Chat message container */
yt-live-chat-text-message-renderer span#message {
    all: unset !important;
    font-family: var(--chat-font) !important;
    display: block !important;
    background: white !important;
    -webkit-text-stroke: 1.3px #7cc296 !important;
    color: #f0fee4 !important;
    padding: 1rem !important;
    /* To compensate angled author chip */
    padding-top: 1.75rem !important;
    font-size: var(--chat-font-size) !important;
    border-radius: var(--chat-border-radius) !important;
    border-color: #41464d !important;
    border-top: solid var(--chat-border-width) #e0f0be !important;
    border-right: solid var(--chat-border-width) #e0f0be !important;
    min-height: 24px !important;
    text-align: center left !important;
    box-shadow: -2px 4px 0px 0px #5bac6a !important;
}

/* Super chat container */
yt-live-chat-paid-message-renderer {
    all: unset !important;
    font-family: var(--chat-font) !important;
    font-size: var(--chat-font-size) !important;
}

/* Margin between superchat and messages */
yt-live-chat-paid-message-renderer .yt-live-chat-paid-message-renderer > .card {
    margin: 2rem !important;
}

yt-live-chat-paid-message-renderer .yt-live-chat-paid-message-renderer {
    color: white !important;
    -webkit-text-stroke: 1.3px #406345 !important;
    box-shadow: none !important;
}

yt-live-chat-paid-message-renderer yt-live-chat-author-chip {
    font-size: unset !important;
}

/* Made in cooperation between frammie, iSneeze and Matze149  */
